 {% extends "structure.html" %}
 {% block stylecontent %}
<link href="/css/impaginazione.css" rel="stylesheet"> {% endblock %} 
{% block pagecontent %}
<div class="container" id="startchange">
    </br>
    </br>
    </br>
    <h1 class="display-3">Contact<small class="text-muted"> Mura studio</small></h1>
    <div class="row">
        <div class="col-lg-5 ">
            <p>mura studio is an architecture, design, planning and consulting firm. Our skills answer to a large spectrum of architectural functions. Whether you aim to create a welcoming home, a posh working quarters or the coolest coffee shop in town, we assure you that we can render to reality the best solution that answers your needs.</p>
        </div>
        <div class="col">
            <p class="border-left-grey">+40 729 118 734 </br> vanda@murastudio.ro</p>
            <p class="border-left-grey">+40 727 877 103 </br> alexandru@murastudio.ro</p>
        </div>
        <div class="col ">
            <p class="border-left-grey">129 TURDA ST. </br>BUCHAREST, RO 011326</p>
        </div>
    </div>
    <form>
        <div class="row">
            <div class="col-lg-6  col-md-6 col-sm-12">
                <div class="form-group ">
                    <label for="exampleInputEmail1">Email*</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group ">
                    <label for="exampleInputEmail1">Name*</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name">
                </div>
                <div class="form-group ">
                    <label for="exampleInputEmail1">Subject</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter subject">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group">
                    <label for="exampleTextarea">Message</label>
                    <textarea class="form-control" id="exampleTextarea" rows="4"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>


{% endblock %} {% block scriptcontent %}
<!-- Custom JS  -->
<script src="/js/scrollSpy.js"></script>
{% endblock %}