 {% extends "structure.html" %} {% block stylecontent %}
<link href="/css/impaginazione.css" rel="stylesheet">
<link href="/css/footer.css" rel="stylesheet"> {% endblock %} {% block pagecontent %}
<div class="container bigger-container">
    <!-- Instagram widget -->
    <div class="row" id="startchange">
        <script src="https://assets.juicer.io/embed.js" type="text/javascript"></script>
        <link href="https://assets.juicer.io/embed.css" media="all" rel="stylesheet" type="text/css" />
        <ul class="juicer-feed" data-feed-id="mura-studio">
            <h1 class="referral"></h1></ul>
    </div>
</div>
{% endblock %} {% block footercontent %}
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; MuraStudio 2018</p>
    </div>
</footer>
{% endblock %} {% block scriptcontent %}
<script src="/js/scrollSpy.js"></script>
{% endblock %}