<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Mura Studio</title>
    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous"> 
    {% block stylecontent %}{% endblock %}
    <!-- custom css -->
    <link href="/css/scrollSpy.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/footer.css" rel="stylesheet">
</head>

<body>
    <script>
    document.body.className += ' fade-out';
    </script>
    <!-- principal navbar  -->
    <nav class="navbar navbar-expand-lg navbar-default navbar-dark fixed-top {% if inv %} navbar-inverse {% endif %}">
        <div class="container bigger-nav ">
            <a class=" {% if not inv %} navbar-brand-site-dark {% endif %} navbar-brand-custom " href="/home">mura studio</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto ">
                    <li class="nav-item">
                        <a class="nav-link {% if not inv %} item-dark {% endif %}" href="news">news</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if not inv %} item-dark {% endif %}" href="work">work</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if not inv %} item-dark {% endif %} no-padding-right" href="meet-us">meet us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% block pagecontent %} {% endblock %}
    {% block footercontent %} {% endblock %} 
    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <!-- FadeIn JS  -->
    <script src="/js/fadein.js"></script>
    <!-- Post scripts -->
    <script src="/js/scrollSpy.js"></script>
    {% block scriptcontent %}{% endblock %}
</body>

</html>