.navbar-brand-custom {
    font-size: 2.5rem;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    line-height: inherit;
    white-space: nowrap;
    font-family: 'Montserrat', sans-serif;
}

.item {
   font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
}

.navbar-light .navbar-brand-custom {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-brand-custom:hover, .navbar-light .navbar-brand-custom:focus {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-dark .navbar-brand-custom {
  color: #fff;
}

.navbar-dark-custom .navbar-brand:hover, .navbar-dark .navbar-brand-custom:focus {
  color: #fff;
}


.navbar-brand-custom:hover, .navbar-brand-custom:focus {
  text-decoration: none;
}

.data {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}