.navbar-brand-custom {
    font-size: 2.5rem;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    line-height: inherit;
    white-space: nowrap;
    font-family: 'Montserrat', sans-serif;
}

.item {
   font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
}

.navbar-light .navbar-brand-custom {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-brand-custom:hover, .navbar-light .navbar-brand-custom:focus {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-dark .navbar-brand-custom {
  color: #fff;
}

.navbar-dark-custom .navbar-brand:hover, .navbar-dark .navbar-brand-custom:focus {
  color: #fff;
}


.navbar-brand-custom:hover, .navbar-brand-custom:focus {
  text-decoration: none;
}

.data {
  border-bottom: 1px solid grey;
  margin-top: -2px;
}

/* social icons style */

.socialIcon {
  font-size: 2.5rem;
}

.socialIconMid {
  font-size: 2.5rem;
  margin-left: 3.5rem;
  margin-right: 3.5rem;
}

.facebook:hover{
  color: #3b5998;
}

.instagram:hover{
  color: #c32aa3;
}

.twitter:hover{
  color: #1da1f2;
}


/* navbar work page */



.modal-nav-content {
  width: 100%;
  height: auto;
  .modal-nav-body {
    margin-top: 100px;
    ul {
      list-style-type: none;
      color: white;
      margin: 0;
      padding: 0;
      width: 100%;
      li {
        text-align: center;
        font-size: 130%;
        padding: 8px;
        text-transform: uppercase;
      }
    }
  }
}

.navbar-collapse.in {
  max-height: 100%;
}

body {
  margin-top: 70px;
}

.navbar-inverse {
  .navbar-nav {
    &.menu-two {
      background: white;
      >li {
        >a {
          color: blue;
          &:hover {
            color: green;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  body {
    margin-top: 130px;
  }
  .navbar-collapse {
    float: left;
    width: 100%;
    clear: both;
  }
  .navbar-inverse {
    border-top: 50px solid pink;
  }
  .navbar-nav:nth-child(2) {
    margin-top: -100px;
    clear: both;
  }
  .navbar-nav:nth-child(1) {
    margin-top: -50px;
  }
}
